
  <section id="home">
    <div id="info">
      <div id="info-content">
        <h1 class="text-branding text-jumbo text-contrast space-1">
          Welcome to ren<i class="bold">t</i>hing
        </h1>
        <h4>rent items locally or make profit of your personal items</h4>

        <div class="search">
          <%= form_tag listings_path, class: "navbar-form navbar-left", role: "search" do %>
            <div class="form-group">
              <%= text_field_tag(:search, nil, class: "form-control search_listing", placeholder: "search by keyword") %>
              &nbsp;&nbsp;
              <%= submit_tag "Search", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>

      </div>
    </div>

    <div id="vider-element"
        data-vide-bg="assets/vancouver_timelapse.mp4"
        data-vide-options="volume: 1, playback_rate: 1, muted: true, loop: true, autoplay: true, position: 50% 50%, poster_type: detect">
    </div>

  </section>

  <a name="blog-list"></a>
  <!-- Main Content -->
  <div class="container top-100">
    <div class="col-lg-7 col-lg-offset-3 col-md-8 col-md-offset-4 top-30">

        <div class="post-preview">
          <div class="post-date text-center">
            <div class="date">
              <span class="day">24</span>
              <span class="month">NOV</span>
            </div>
            <div class="post-fav">
              <i class='fa fa-heart color-77'></i> 2
            </div>
          </div>
          <div class="post-content">
            <h2 class="post-title">Top 8 best places to watch the sunset in vancouver</h2>
            <div class="post-meta-info">
              Posted by indrayana <span class="margin-left-right"> | </span> 4 Comments
            </div>
            The park is perfectly located near the sea and also surrounded by trees. The park is enormous and perfect for biking and jogging/running. There are other attractions in the park ...
          </div>
        </div>
        <hr>
    </div>
  </div>
