
// list of font-size 10 to 100
 @for $i from 5 through 50 {
   .font-#{2 * $i} {
     font-size: #{2 * $i}px;
   }
 }

 @for $i from 1 through 12 {
   .top-#{10 * $i} {
     margin-top: #{10 * $i}px;
   }
 }

 @for $i from 1 through 12 {
   .bottom-#{10 * $i} {
     margin-bottom: #{10 * $i}px;
   }
 }

 @for $i from 1 through 20 {
   .left-#{2 * $i} {
     margin-left: #{2 * $i}px;
   }
 }

 @for $i from 1 through 20 {
   .right-#{2 * $i} {
     margin-right: #{2 * $i}px;
   }
 }

 @for $i from 2 through 10 {
   .hr-#{2 * $i} {
     border-bottom: 1px solid #ccc;
     margin: #{2 * $i}px 0;
   }
 }
