.panel-image {
  position: relative;
}

.panel-card {
  padding: 10px;
  position: relative;
  margin: 0;
  
}

.listing-label {
  bottom: 30px;
  left: 0;
  padding: 7px 10px;
  background-color: rgba(60,63,64,0.9);
  position: absolute;
  color: #fff;
}

.listing-label:hover {
  color: #fff;
  text-decoration: none;
}
