/* reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.museo {font-family: "museo-sans"; font-weight: 300;}

/* image background --------------------------------------------------------- */
#home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*background: url("/assets/bicycle.jpg");*/
	background-color: #222;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	padding: 0;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
  /*padding-bottom: 51% ;*/
  /*margin-bottom: 50px;*/

  /*background: linear-gradient(
      rgba(101,74,134, 0.4),
      rgba(101,74,134, 0.4)
    ), url("/assets/bicycle.jpg");*/

}

#home2 {
  width: 100%;
  height: 100%;
  min-height: 705px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );

}

p {
  margin-bottom: 15px;
}

#info {
  width: 100%;
  position: absolute;
  top: 40%;
}
#info #info-content, #info.search {
  /*display: table-cell;*/
  vertical-align: middle;
  text-align: center;
  /*text-transform: uppercase;*/
  color: #fff;
  font-size: 12px;
}
#info #info-content h1 {
  color: #fff;
  border: 3px solid #fff;
  /*text-align: center;*/
  background: rgba(0, 0, 0, 0);
  font-size: 32px;
  font-weight: normal;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}
#info #info-content h1 strong {
  display: block;
  font-size: 36px;
}


/* search -------------------------------------------------------------------*/
.search {
  width: 50%;
  border: 1px solid;
  text-align: center;
  background: transparent;
  /*position: relative;*/
  /*padding: 8px;*/
  /*border-radius: 5px;*/
  box-sizing: border-box;
  display: inline-block;
  margin-top: 50px;
}

.search_listing {
  /*padding-left: 35px;*/
  padding: 10px 30px;
  margin: 0;
  width: 500px !important;
  box-sizing: border-box;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  background: #e6e6e6;
  color: #3c3c3c;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 29px;
  /*transition: border 0.2s ease-in, opacity 0.2s ease-in, color 0.2s ease-in;*/

}

#vider-element {
  width: 100%;
  height: 100%;
  position:static !important;
}

/* navbar transparent ------------------------------------------------------- */
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-brand,
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus,
  .navbar-default .navbar-nav > li > a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
}

.navbar-default .navbar-nav > li > a.nav-menu:hover,
  .navbar-default .navbar-nav > li > a.nav-menu:focus {
  color: #fff;
  /*border-bottom: 2px solid #fff;*/
  padding-bottom: 5px;
}

.navbar-default .navbar-nav > li > a.btn-default {
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 10px 10px;
    padding: 4px 15px;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a.btn-default:hover {
  background-color: white;
  color: #000;
}

.navbar-default .navbar-nav > li > a img {
  border: 1px solid white;
  margin: -4px 5px;
}
.nav-logo-text {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 100;
  color: #fff;
}

i.bold {
  font-weight: 900;
  margin-right: 5px;
}


/* side-nav ------------------------------------------------------------- */
.right-side, .left-side {
  /*height: 100% !important;*/
  /*min-height: 680px;*/
  font-family: "museo-sans";
  font-weight: 300;
}

.sidenav-list, .sidenav-item {
  list-style: none;
  display: block;
  font-size: 22px;
  color: #1A4169;
  margin: 0;
  margin-top: 15px;
  padding: 4px 15px;
}

.sidenav-item:hover, .sidenav-item:focus {
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 13px;
  background-color: transparent;
}

.user-page-bg.purple, .user-page-bg .purple {
  background-color: #654a86!important;
}

.user-page-bg.white, .user-page-bg .white {
  background-color: #fff!important;
}

.user-page-bg.grey, .user-page-bg .grey {
  background-color: #777!important;
}

.user-page-bg.silver, .user-page-bg .silver {
  background-color: #E9EBED!important;
}

.user-page-bg.color-1, .user-page-bg .color-1 {
  background-color: #F4F4F4 !important;
  color: #fff;
}

.user-page-bg.color-2, .user-page-bg .color-2 {
  background-color: #fff !important;
  background: linear-gradient(
      rgba(0,0,134, 0.4),
      rgba(0,0,134, 0.4)
    );
  color: #fff;
}

.user-profile {
  color: #151515;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
}

/* profile ----------------------------------------------------------------- */
.left-side {
  min-height: 655px;
  max-height: 655px;
  overflow:hidden;
}

.right-side {
  min-height: 655px;
  max-height: 655px;
  overflow:scroll;
}
.right-side .panel-default {
  margin: 30px 30px;
}
.right-side .panel-body {
  padding-right: 30px;
}


/* listing ----------------------------------------------------------------- */
.listings {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: scroll;
}

/* rental rate ------------------------------------------------------------- */
.rental-rate {
  display: block;
  border: 1px solid #eee;
  padding: 20px 10px;
  float: left;
}
.rental-image {
  border-radius: 10px; box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}
